/* header and navbar */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }

header{
    /* color: red; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0 , 0.06);
    
    z-index: 999; /* to make the box shadow appear */
    /* to make the navbar sticky on top */
    position: sticky; 
    top: 0;
    left: 0;
    /*  */
}

header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 20px ;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    /* transition: all smooth ; */
    transition: all 0.3s ease;
}

#navbar li a:hover , 
#navbar li a.active{
    color: #088178;
}
#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
}

#navbar #closehamburgermenu{
    display: none;       
}

#close{
    display: none;
}

@media (max-width:799px) {
    
    .section-p1{
        padding: 40px;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:  -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: all 0.5s ease;
    }

    #navbar.active{
        right: 0;
    }


    #navbar li{
        margin-bottom: 25px;
    }
    
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
}


.tasks-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    background-color: #e3e6f3;
    border-radius: 5px;
}

.tasks-container p{
line-height: 2;
}

.tasks-container p #CompletedText{
    color: red;
}

.tasks-container button{
    background-color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.tasks-container button:hover{
    opacity: 1;

}

.tasks-container .Deletebtn{
    background-color: red;
}

.btns-dev{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* al */
}
h1{
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 5px;
    margin-top: 25px;
}

